**/bin
**/obj
.git
.vs
.vscode
.idea
.github
tests
**/.env
**/.env.*
**/secrets.json
**/appsettings.Local.json
**/appsettings.*.local.json
**/PublishProfiles
**/*.pfx
**/*.p12
**/*.pem
**/*.key
**/*.user
**/*.log
**/TestResults
